* {margin: 0;
			padding: 5;
			color: white;
		    font: italic; 20px "times new roman";}
img {margin-top: 50px;
margin-left: 0 ;
margin-bottom: 0;}		    

		header{background-color: hsla(360, 60%, 0%, 0.8);}

		.head{color: hsl(328, 70%, 40%);
		      font: normal bolder 60px aerial;
		      margin-top: 0;}  
		.head1 {color: white;
		        font: italic normal 25px aerial;} 

		.menu-bar {text-align: center;
		           color: white;}      
		.menu-bar ul {display: inline-flex;
		           list-style: none;
		           color: white;}

		.menu-bar ul li {width: 100px;
		                 margin: 10px;
		                 padding: 15px;}

		.menu-bar ul li a {text-decoration: none;
		                 color: white;}

		.active, .menu-bar ul li:hover {background: gray;
		                                border-radius: 3px;}
		.sub-menu-1 {display: none;}

		.menu-bar ul li:hover .sub-menu-1 {display: block;
		                                   position: absolute;
		                                   background: gray;
		                                    margin-top: 5px;
		                                    margin-left: 0px;}

        .menu-bar ul li:hover .sub-menu-1 ul {display: block;
                                              margin: 15px;}

        .menu-bar ul li:hover .sub-menu-1 ul li {width: 100px;
                                                 padding: 0px;
                                                 border-bottom: none;
                                                 background: transparent;
                                                 border-radius: 0;
                                                 text-align: left;}

        .menu-bar ul li:hover .sub-menu-1 ul li :last-child {border-bottom: none;} 

        .menu-bar ul li:hover .sub-menu-1 ul li a:hover {color: #b2ff00;}

footer {background: hsla(360, 80%, 0%, 0.9);
        font: normal normal 10px sans-serif;}

main {background-color: black;
		background-image: url("phantom 2.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		margin-bottom: px;}

h2 {text-align: center;
    font-size: 20px;}    

p {font-style: normal;
   font-weight: normal;
   font-size: 17px;
   font-family: "calibri light";}

p {background-color: hsla(350, 60%, 0%, 0.7);       



	

